@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

html {
  @apply w-full h-auto;
}
.syne-font {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@layer components {
  .navbar-container {
    @apply max-w-full list-none items-center mt-[0] mb-[0] ml-[50px] mr-[50px] p-[25px] overflow-hidden flex justify-between;
  }
  .navbar-logo {
    @apply p-[14px] my-auto ml-[14px] mr-[725px] w-[110px] cursor-pointer;
  }
  .navbar-links li {
    @apply float-left my-0 mx-[12px];
  }
  .navbar-links li a {
    @apply block text-gray-400 text-[16px] font-normal text-center py-[14px] px-0 relative;
  }
  .navbar-links a::after {
    @apply content-[""] h-[2px] w-full bg-black absolute inset-x-0 bottom-[4px] opacity-0 transition-all delay-[0.2ms] pointer-events-none;
  }
  .navbar-links a:hover {
    @apply text-stone-950;
  }
  .navbar-links a:hover::after {
    @apply opacity-100;
  }
}
